/tests                  export-ignore
/.github                export-ignore
.editorconfig           export-ignore
.gitattributes          export-ignore
.gitignore              export-ignore
phpstan.neon.dist       export-ignore
README.md               export-ignore
.php-cs-fixer.dist.php  export-ignore
